#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.block-nav {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
}

.block-container {
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column-reverse;
}

.block-one {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.block-drop {
  background-color: aqua;
}

.block-transparent {
  background-color: white;
  border: 1px solid white;
}

.block-nav__el input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset;
    margin: 10px 0 0 0;
}

.block-nav__el button {
  margin: 15px 0 0 0;
}

.block-nav__el {
  margin:  0 20px 0 20px;
}